/* Create two equal columns that floats next to each other */
body{
  margin:0;
  margin-top:0;
  padding: 0;
  font-family: 'Josefin Sans';
}

.search {
  background: grey;
  height:100vh;
  float: left;
  width: 20%;
}

.ex1 {
  margin: 0 auto;
  text-align: left;
  width: 18vw;
  height: 58vh;
  overflow: scroll;
  font-size: 3vh;
  color: white;
}
.button{
  background-color: Transparent;
  margin-top: 5px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 2.5vh;
  color:white;
}
.map{
  margin-top:0;
  height: 100vh;
  float: right;
  width: 80%;
}
.regInput{
  margin: 0 auto;
  text-align: left;
  font-size: 3vh;
  padding:0 10px;
  height: 4vh;
  width: 16vw;
  border:none;
  outline:none;
}
h1{
  padding-top: 2vh;
  color: white;
  text-align: center;
  font-size: 4vw;
}
h2{
  height:5%;
}
.values{
  height:60%;
}
.inputs{
  text-align: center;
  height:40%;
}

.title{
  padding-top: 1vh;
  color: white;
  text-align: center;
  font-size: 2.5vw;
}
#map {
  height: 100vh;
  width: 100%;  /* The width is the width of the web page */
}
